 {
	FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
BODY {
	FONT-SIZE: 100%; MARGIN: 0px 2px 0px 0px; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
HR {
	COLOR: #003399
}
UL {
	FONT-SIZE: 80%; MARGIN-BOTTOM: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square; TEXT-ALIGN: left
}
UL UL {
	FONT-SIZE: 100%
}
UL UL {
	fontsize: 90%
}
UL OL {
	FONT-SIZE: 100%
}
UL OL {
	fontsize: 100%
}
OL UL {
	FONT-SIZE: 100%
}
OL UL {
	fontsize: 90%
}
OL {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 80%; MARGIN-BOTTOM: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
OL OL {
	FONT-SIZE: 100%
}
OL OL {
	fontsize: 90%
}
.banner-usdol {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UNKNOWN {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 95%; LEFT: 210px; MARGIN-BOTTOM: 0px; COLOR: #003399; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; POSITION: absolute; TOP: 40px
}
.agencyurl {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.skip {
	FONT-SIZE: 8%; VISIBILITY: hidden; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 0px; TEXT-DECORATION: none; font-stretch: extra-condensed
}
.whiteSix {
	FONT-SIZE: 68%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteEight {
	FONT-SIZE: 75%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldEight {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteEightI {
	FONT-SIZE: 75%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldEightI {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteNine {
	FONT-SIZE: 78%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldNine {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteNineI {
	FONT-SIZE: 78%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldNineI {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteTen {
	FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldTen {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteTenI {
	FONT-SIZE: 80%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldTenI {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteEleven {
	FONT-SIZE: 90%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldEleven {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteElevenI {
	FONT-SIZE: 90%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldElevenI {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteTwelve {
	FONT-SIZE: 100%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldTwelve {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteTwelveI {
	FONT-SIZE: 100%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldTwelveI {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteThirteen {
	FONT-SIZE: 108%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldThirteen {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteThirteenI {
	FONT-SIZE: 108%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldThirteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteFourteen {
	FONT-SIZE: 118%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldFourteen {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteFourteenI {
	FONT-SIZE: 118%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldFourteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteFifteen {
	FONT-SIZE: 122%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldFifteen {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteFifteenI {
	FONT-SIZE: 120%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldFifteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteSixteen {
	FONT-SIZE: 128%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldSixteen {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteSixteenI {
	FONT-SIZE: 128%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.whiteBoldSixteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackSix {
	FONT-SIZE: 68%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackSix A {
	COLOR: #003399
}
.blackSix A:visited {
	COLOR: #003366
}
.blackBoldSix {
	FONT-WEIGHT: bold; FONT-SIZE: 68%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldSix A {
	COLOR: #003399
}
.blackBoldSix A:visited {
	COLOR: #003366
}
.blueSix {
	FONT-SIZE: 68%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueSix A {
	COLOR: #003399
}
.blueSix A:visited {
	COLOR: #003366
}
.blueBoldSix {
	FONT-WEIGHT: bold; FONT-SIZE: 68%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldSix A {
	COLOR: #003399
}
.blueBoldSix A:visited {
	COLOR: #003366
}
.tabs LI A:hover {
	TEXT-DECORATION: underline
}
.blackEight {
	FONT-SIZE: 75%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldEight {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackEightI {
	FONT-SIZE: 75%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldEightI {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackNine {
	FONT-SIZE: 78%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldNine {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackNineI {
	FONT-SIZE: 78%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldNineI {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackTen {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldTen {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackTenI {
	FONT-SIZE: 80%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldTenI {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackEleven {
	FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldEleven {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackElevenI {
	FONT-SIZE: 90%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldElevenI {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackTwelve {
	FONT-SIZE: 100%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldTwelve {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackTwelveI {
	FONT-SIZE: 100%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldTwelveI {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackThirteen {
	FONT-SIZE: 108%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldThirteen {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackThirteenI {
	FONT-SIZE: 108%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldThirteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackFourteen {
	FONT-SIZE: 118%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldFourteen {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackFourteenI {
	FONT-SIZE: 118%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldFourteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackFifteen {
	FONT-SIZE: 122%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldFifteen {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackFifteenI {
	FONT-SIZE: 120%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldFifteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackSixteen {
	FONT-SIZE: 128%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldSixteen {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackSixteenI {
	FONT-SIZE: 128%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackBoldSixteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueSixCaption {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blackSixCaption {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueEight {
	FONT-SIZE: 75%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldEight {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueEightI {
	FONT-SIZE: 75%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldEightI {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueNine {
	FONT-SIZE: 78%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldNine {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueNineI {
	FONT-SIZE: 78%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldNineI {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueTen {
	FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldTen {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueTenI {
	FONT-SIZE: 80%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldTenI {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueEleven {
	FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldEleven {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueElevenI {
	FONT-SIZE: 90%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldElevenI {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueTwelve {
	FONT-SIZE: 100%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldTwelve {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueTwelveI {
	FONT-SIZE: 100%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldTwelveI {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueThirteen {
	FONT-SIZE: 108%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldThirteen {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueThirteenI {
	FONT-SIZE: 108%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldThirteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueFourteen {
	FONT-SIZE: 118%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldFourteen {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueFourteenI {
	FONT-SIZE: 118%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldFourteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueFifteen {
	FONT-SIZE: 122%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldFifteen {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueFifteenI {
	FONT-SIZE: 120%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldFifteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueSixteen {
	FONT-SIZE: 128%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldSixteen {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #003399; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueSixteenI {
	FONT-SIZE: 128%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.blueBoldSixteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowEight {
	FONT-SIZE: 75%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldEight {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowEightI {
	FONT-SIZE: 75%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldEightI {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowNine {
	FONT-SIZE: 78%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldNine {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowNineI {
	FONT-SIZE: 78%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldNineI {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowTen {
	FONT-SIZE: 80%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldTen {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowTenI {
	FONT-SIZE: 80%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldTenI {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowEleven {
	FONT-SIZE: 90%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldEleven {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowElevenI {
	FONT-SIZE: 90%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldElevenI {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowTwelve {
	FONT-SIZE: 100%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldTwelve {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowTwelveI {
	FONT-SIZE: 100%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldTwelveI {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowThirteen {
	FONT-SIZE: 108%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldThirteen {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowThirteenI {
	FONT-SIZE: 108%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldThirteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowFourteen {
	FONT-SIZE: 118%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldFourteen {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowFourteenI {
	FONT-SIZE: 118%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldFourteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowFifteen {
	FONT-SIZE: 122%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldFifteen {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowFifteenI {
	FONT-SIZE: 120%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldFifteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowSixteen {
	FONT-SIZE: 128%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldSixteen {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #ffcc00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowSixteenI {
	FONT-SIZE: 128%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBoldSixteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #ffcc00; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redSix {
	FONT-SIZE: 75%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redEight {
	FONT-SIZE: 75%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldEight {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redEightI {
	FONT-SIZE: 75%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldEightI {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redNine {
	FONT-SIZE: 78%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldNine {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redNineI {
	FONT-SIZE: 78%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldNineI {
	FONT-WEIGHT: bold; FONT-SIZE: 78%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redTen {
	FONT-SIZE: 80%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldTen {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redTenI {
	FONT-SIZE: 80%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldTenI {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redEleven {
	FONT-SIZE: 90%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldEleven {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redElevenI {
	FONT-SIZE: 90%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldElevenI {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redTwelve {
	FONT-SIZE: 100%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldTwelve {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redTwelveI {
	FONT-SIZE: 100%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldTwelveI {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redThirteen {
	FONT-SIZE: 108%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldThirteen {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redThirteenI {
	FONT-SIZE: 108%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldThirteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 108%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redFourteen {
	FONT-SIZE: 118%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldFourteen {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redFourteenI {
	FONT-SIZE: 118%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldFourteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 118%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redFifteen {
	FONT-SIZE: 122%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldFifteen {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redFifteenI {
	FONT-SIZE: 120%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldFifteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redSixteen {
	FONT-SIZE: 128%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldSixteen {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redSixteenI {
	FONT-SIZE: 128%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redBoldSixteenI {
	FONT-WEIGHT: bold; FONT-SIZE: 128%; COLOR: #990000; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.yellowBkgnd {
	BACKGROUND-COLOR: #ffcc00
}
.dk-blueBkgnd {
	BACKGROUND-COLOR: #003399
}
.whiteBkgnd {
	BACKGROUND-COLOR: #ffffff
}
.blueBkgnd {
	BACKGROUND-COLOR: #3366cc
}
.aquaBkgnd {
	BACKGROUND-COLOR: #009999
}
.bold {
	FONT-WEIGHT: bold
}
.italic {
	FONT-STYLE: italic
}
A.blueheader {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #3366cc; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
A.result {
	FONT-SIZE: 80%; COLOR: #31639c; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
A.whiteresult {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
A.whiteheader {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; TEXT-DECORATION: none
}
TD.gray {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none
}
TD.graycenter {
	COLOR: #31639c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.white {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.whitecenter {
	COLOR: #31639c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.sort {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.caption {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-Serif; BACKGROUND-COLOR: #cece9c; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UL.standard {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square; TEXT-ALIGN: left
}
.title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #996600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #000099; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.title3 {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #996600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.title4 {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #153499; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.title5 {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.notetext1 {
	FONT-SIZE: 75%; MARGIN: 2px; COLOR: #f40000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.notetext2 {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN: 2px; COLOR: #f40000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.footnote1 {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN: 2px; VERTICAL-ALIGN: super; COLOR: #f40000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linktext {
	FONT-SIZE: 75%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.standard {
	FONT-SIZE: 75%; COLOR: #757575; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.linkedstandard {
	FONT-SIZE: 75%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL.menu-item-findit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 72%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 20px; PADDING-TOP: 0px
}
UL.menu-item-findit A {
	COLOR: #0000ff
}
UL.news-items {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 72%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 20px; PADDING-TOP: 0px
}
UL.news-items A {
	COLOR: #003399
}
UL.menu-item-small {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 18px; LINE-HEIGHT: 12px; PADDING-TOP: 0px
}
.shadow {
	BACKGROUND-IMAGE: url(/images/shadow-bot-wh.gif); BACKGROUND-REPEAT: repeat; HEIGHT: 6px
}
.lightBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; COLOR: #cfd2e5; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.lightBlue A:visited {
	dfe1f5: 
}
UL.menu-item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; LIST-STYLE-IMAGE: url(/images/bulletBlue.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 20px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square
}
UL.menu-item A {
	COLOR: #003399
}
UL.menu-item A:visited {
	COLOR: #003366
}
UL.menu-red {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; LIST-STYLE-IMAGE: url(/images/red-arrow.gif); PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 20px; COLOR: #ffffcc; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: square
}
UL.menu-red A {
	COLOR: #003399
}
UL.menu-red A:visited {
	COLOR: #003366
}
DIV#search-bar {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; FLOAT: right; COLOR: #ffcc66; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
DIV#search-bar A {
	FONT-WEIGHT: bold; COLOR: #ffcc66; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
