BODY {
	FONT-SIZE: small; MARGIN-LEFT: 2%; COLOR: rgb(51,0,51); MARGIN-RIGHT: 2%; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fafad2
}
A:link {
	COLOR: #0000cc
}
A:visited {
	COLOR: #330066
}
A:active {
	COLOR: #777777
}
B {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
I {
	FONT-STYLE: italic
}
CITE {
	FONT-STYLE: italic
}
EM {
	FONT-STYLE: italic
}
VAR {
	FONT-STYLE: italic
}
TT {
	FONT-FAMILY: monospace
}
KBD {
	FONT-FAMILY: monospace
}
SAMP {
	FONT-FAMILY: monospace
}
CODE {
	FONT-SIZE: small; FONT-FAMILY: "Courier New", Courier, monospace
}
P {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
BLOCKQUOTE {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
OL {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
UL {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
LI {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
ADDRESS {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
TH {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
TD {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
DT {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
DD {
	FONT-SIZE: small; COLOR: rgb(51,0,51); FONT-FAMILY: Arial, sans-serif
}
P {
	MARGIN-LEFT: 2%
}
BLOCKQUOTE {
	FONT-SIZE: 95%; MARGIN: 0.25em 2% auto; FONT-STYLE: italic
}
.right {
	FONT-SIZE: 95%; MARGIN: 0.25em 0px auto; FONT-STYLE: italic; TEXT-ALIGN: right
}
ADDRESS {
	COLOR: black; FONT-STYLE: oblique
}
UL {
	MARGIN: 0em auto 0.25em 8pt
}
OL {
	MARGIN: 0em auto 0.25em 8pt
}
UL {
	LIST-STYLE-TYPE: disc
}
OL {
	LIST-STYLE-TYPE: decimal
}
UL.db {
	FONT-WEIGHT: bold; MARGIN: 1em auto 1.5em 8pt; FONT-STYLE: oblique; LIST-STYLE-TYPE: square
}
UL LI {
	MARGIN: 0.25em auto 0em 0pt
}
OL LI {
	MARGIN: 0.25em auto 0em 0pt
}
UL P {
	MARGIN: 0.5em auto 0em 0pt
}
OL P {
	MARGIN: 0.5em auto 0em 0pt
}
OL OL {
	MARGIN: 0em 0pt; LIST-STYLE-TYPE: decimal
}
OL UL {
	MARGIN: 0.5em 0pt 0em -4pt; LIST-STYLE-TYPE: circle
}
OL UL LI {
	MARGIN: 0.5em 0pt 0em -4pt; LIST-STYLE-TYPE: circle
}
UL UL {
	MARGIN: 0.5em 0pt 0em -4pt; LIST-STYLE-TYPE: circle
}
UL UL LI {
	MARGIN: 0.5em 0pt 0em -4pt; LIST-STYLE-TYPE: circle
}
UL UL UL {
	MARGIN: 0em 0pt; LIST-STYLE-TYPE: disc
}
UL UL UL LI {
	MARGIN: 0em 0pt; LIST-STYLE-TYPE: disc
}
H1 {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
H2 {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
H3 {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
H4 {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
H5 {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
H6 {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
H1 {
	FONT-SIZE: x-large; COLOR: #005511; FONT-STYLE: oblique
}
H2 {
	FONT-SIZE: large; COLOR: #000080; FONT-STYLE: oblique
}
H3 {
	BORDER-TOP: gray thin solid; FONT-SIZE: medium; MARGIN: 1.25em auto 0.5em 12pt; COLOR: #000080
}
H4 {
	FONT-SIZE: small; MARGIN: 1em auto 0.25em 12pt; COLOR: #0060a0
}
TH {
	COLOR: #000040
}
TD {
	COLOR: #000040
}
TH {
	FONT-WEIGHT: bold
}
PRE {
	MARGIN-TOP: 0px; MARGIN-LEFT: 10%; FONT-FAMILY: "Courier New", Courier, monospace
}
.first {
	BORDER-TOP-STYLE: none
}
.box {
	BORDER-RIGHT: thin solid; PADDING-RIGHT: 2px; BORDER-TOP: thin solid; PADDING-LEFT: 2px; BACKGROUND: rgb(204,204,255); PADDING-BOTTOM: 2px; MARGIN: 8px 10%; BORDER-LEFT: thin solid; PADDING-TOP: 2px; BORDER-BOTTOM: thin solid
}
.small {
	FONT-SIZE: 8pt
}
.code {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 8%; FONT-FAMILY: "Courier New", Courier, serif
}
.tblcode {
	FONT-FAMILY: "Courier New", Courier, serif
}
.resetmargin {
	MARGIN-LEFT: 0%
}
.indent {
	MARGIN-LEFT: 6%
}
.compact {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sherman {
	FONT-WEIGHT: bold; FONT-SIZE: large; COLOR: red
}
.explain {
	FONT-SIZE: 90%; MARGIN: 0.5em 12pt 0em 2%
}
.unindent {
	MARGIN-LEFT: -6%
}
.listunindent {
	MARGIN-LEFT: -7%
}
.hangingindent {
	MARGIN-LEFT: 5%; TEXT-INDENT: 5%
}
.firstline {
	MARGIN-LEFT: 10%; TEXT-INDENT: -5%
}
A.linkinvisible {
	COLOR: rgb(0,0,128); TEXT-DECORATION: none
}
